@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Poppins:wght@300&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    margin: 0;
    overflow-x: hidden;/* horizontaly scolling hidden  */ 
}
.container{
     /* This IS THE DEFAULT CONTAINER
        This is UnDoing THE Rotation back to deafult 
        using  the transition: transform property  of
        .container.show-nav {} backwRD */
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    transform-origin:top left;
    transition: transform 1.2s linear ;
}

.container.show-nav {
    /* This is rotaing the Hole container 
    wHEN CLICKING OPEN BTN*/
    transform: rotate(-20deg);
    transform-origin: top left;
    transition: transform 1.2s linear;
}
.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay: 0.3s;

}
.container.show-nav .circle{
    /*rotate the circle to make the Close btn
    Visible*/
   transform: rotate(-60deg);
   transition: transform 0.9s linear;
}
.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle{
    background-color: coral;
    height: 200px;
    width: 200px;
    border: 2px solid rgb(113, 58, 38);
    border-radius: 100%;
    position: relative;
    /* transition: transform 0.9s linear; */
}
.circle button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    /*removing a Buttons default border and
    Background*/
    background: transparent;
    border: 0;
    font-size: 30px;
}
.circle button:focus{
    outline: none;
}
.circle button#open{
    left:73%;
}
.circle button#close{
    top:73%;
    transition: transform 0.6s linear;
    transform: rotate(90deg);
    transform-origin: top left;
}

.content{
    margin: 100px auto;
    max-width: 1000px;
  
}
.content h1{
    margin: 0;
    color: chocolate;
}
.content small{
    margin: 0px;
    font-style: italic;
    color: chocolate;
}
.content p{
    font-weight: 600;
    margin: 0px;
    color: #333;
    line-height: 1.6;
}
.content img{
    max-width: 100%;
    height: 500px;
}
nav{
    position: fixed;
    bottom: 10%;
    left:0px;
    z-index: 100;
}
nav ul{
    list-style: none;
    padding: 30px;
}
nav ul li{
    text-transform: uppercase;
    color: white;
    margin: 50px 0px;
    transform: translateX(-100%);
    transition: transform 1.1s ease-in-out;
}
nav ul li i{
    font-size: 25px;
    margin-right: 10px;
}
nav ul li+li{
    margin-left: 15px;
    transform: translateX(-200%);
}
nav ul li+li+li{
    margin-left: 30px;
}
nav a{
    color: white;
    text-decoration: none;
    /* transition: all 0.6s; */
}
nav a:hover{
    color: #FF7979;
    font-weight: bold;
}
footer{
    font-weight: 600;
    margin: 0px;
    color: #333;
    text-align: center;
}
